body{
    background-color: rgba(0, 110, 255, 0.418);
}

h1{
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(5, 2, 2);
    font-size: 30px;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(200, 235, 255);
    font-size: 20px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

hr{
    width: 100%;
    height: 50px;
    text-align:left;
    margin-left:0;
    background-color:rgb(0, 0, 0);
    font-weight: bold;
    

}
.btn-secondary{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}


.home-image{
        background-image: url("img/Home.jpeg");
        background-blend-mode: soft-light;
    
        height: 400px;
        width: 100%;
        object-fit: cover;
        background-size: cover;
}
.about{
    width: 100%;
    background-image: url("img/About.jpeg");
    height: 220px;
}
.about-coding{
    width: 30%;
    padding-left:10px;
    position: relative;

}
.home-new{
    width: 30%;
    top: 410px;
    bottom: 0pc;
    padding-left:10px;
    position: absolute;
}
.intro{
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 30px;
 }
.timer{
    margin-top: 200px;;
    float: right;
  
}

.roadtrip{
margin-top: 200px;
position: absolute;
right: 450px;
}
/*.roadtrip:hover img  {  
    right: 50px;
    height: 300px; 
    width: 800px; 
}*/

.calculator{
position:absolute;
margin-top: 0px;
right: 10px;
}

.about-cats {
margin-top: 70px;
padding-right: 50px;
float: right;
text-align: left;
width: 30%;
}
.cats{
    margin-top: 90px;
    padding-left:30px;
}
.about-travel{
    width: 30%;
    padding-left:10px;
}
.travel{
    position:absolute;
    margin-top: 0px;
    right: 10px;
}
.error{
    background-color: red;
}  
@media only screen and (max-width: 1200px) {
.roadtrip{
    opacity: 0%;
}
.timer{
    margin-top: 220px;
}
}
@media only screen and (max-width: 768px) {
    p{
        font-size: 15px;
    }
    .home-new{
        width: 100%;
        top: 410px;
        bottom: 0pc;
        padding-left:10px;
    }
    .roadtrip{
        opacity: 0%;
    }
    .timer{
        opacity: 0%;
    }
    .about-coding{
        width: 100%;
    }
    .calculator{
        opacity: 0%;
    }
    .about-cats{
        width: 100%;
        padding-left: 10px;
        margin-top: 30px;
    }
    
    .about-travel{
        width: 100%
    }
    .travel{
        opacity: 0%;
    }
    .placeholder-wave{
        margin-top: 30px;
    }
    .about{
        height: 270px; 
    }
 }
